<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8"/>
    <!-- Importação do bootstrap -->
    <link rel="stylesheet" href="css/index.css" />
    <link rel="stylesheet" href="css/global.css" />
    <title>Cripto Store - Home - 5% off</title>

  </head>
  <body>
    <div class="container">
      <nav class="menu">
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#">Categorias</a></li>
          <li><a href="#">Perfil</a></li>
        </ul>
      </nav>
      <main>
        <article>
          <form action="">
                <img src="img/EtheriumIcon.png" alt="Etherium" />
                <p>Etherium</p>
                <p><span class="exclude">10.191,42 BRL</span></p>
                <p><span class="price">1.000 BRL</span></p>
                <label for="qnt">Quantidade: </label>
                <input type="number" name="qnt" class="form-control input" />
                <button type="submit" class="btn">Comprar</button>
              </form>
        </article>
      </main>
    </div>
  </body>
</html>
